# **Resizing of Dataset**

## Objectives

* The objective is to reduce the size of the dataset from 50K rows to 10K rows. This is to ensure that the computer can process the dataset size more easily.

## Inputs

* The dataset that will be imported is the e-commerce_transactions.csv dataset from the Kaggle website.

## Outputs

* The dataset will be reduced to 10K rows with which cleaning and modifications will take place.

## Additional Comments

* The remaining sections will describe the process in various stages.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Users\\rayaf\\OneDrive\\Documents\\global-store\\online_store\\jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'c:\\Users\\rayaf\\OneDrive\\Documents\\global-store\\online_store'

In [ ]:
import pandas as pd # THe pandas library has been imported to resize the dataset

# Stage 1

### Loading the dataset and checking the file size

In [ ]:
df = pd.read_csv('../online_store/data/raw_data/ecommerce_transactions.csv') # The dataset has been loaded into a pandas DataFrame
df.head(5) # Display the first 5 rows of the dataset

,Transaction_ID,User_Name,Age,Country,Product_Category,Purchase_Amount,Payment_Method,Transaction_Date
0,1,Ava Hall,63,Mexico,Clothing,780.69,Debit Card,2023-04-14
1,2,Sophia Hall,59,India,Beauty,738.56,PayPal,2023-07-30
2,3,Elijah Thompson,26,France,Books,178.34,Credit Card,2023-09-17
3,4,Elijah White,43,Mexico,Sports,401.09,UPI,2023-06-21
4,5,Ava Harris,48,Germany,Beauty,594.83,Net Banking,2024-10-29

---

In [7]:
new_df = len(df) # Get the number of rows in the dataset
print(f"The dataset contains {new_df} rows.") # Print the number of rows in the dataset

The dataset contains 50000 rows.

### As can be seen from above the dataset contains 50K rows.

# Stage 2

### Resizing the dataset and confirming file size

In [8]:
sized_df = df.sample(n=10000, random_state=42)
print(f"The resized dataset contains {len(sized_df)} rows.") # Print the number of rows in the resized dataset

The resized dataset contains 10000 rows.

### As can be seen from the output above the dataset now consists of 10K rows.

# Stage 3

### Save file to cleaned_data folder